---
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: `Archive`,
};
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <table>
      <tbody id="table">
        <tr class="text-center">
          <th class="border border-gray-700 pl-4 pr-4">Type</th>
          <th class="border border-gray-700 pl-4 pr-4">Date <span class="whitespace-nowrap">(YYYY-MM-DD)</span></th>
          <th class="border border-gray-700 pl-4 pr-4">Version</th>
          <th class="border border-gray-700 pl-4 pr-4">Link</th>
          <th class="border border-gray-700 pl-4 pr-4">Hash <span class="whitespace-nowrap">(SHA-256)</span></th>
          <th class="border border-gray-700 pl-4 pr-4">Source Code</th>
        </tr>
      </tbody>
    </table>
  </section>
</Layout>

<script type="text/javascript" src="/api/get.js"></script>
<script type="text/javascript" src="/api/icons.js"></script>

<script is:inline>
  parseShardRepo('https://raw.githubusercontent.com/shardmc/shardmc-repo/main/main.repo.json', function (json) {
    document.getElementById('table')?.insertAdjacentHTML(
      'beforeend',
      `<tr class="text-center">
          <td class="border border-gray-700 items-center">${getBuildTypeIcon(json.type)}</td>
          <td class="border border-gray-700">${json.date}</td>
          <td class="border border-gray-700">${json.name}</td>
          <td class="border border-gray-700 text-accent"><a href="${json.link}">link</a></td>
          <td class="border border-gray-700 text-accent"><a href="#" onclick="navigator.clipboard.writeText('${
            json.hash
          }')">Copy to Clipboard</a></td>
          <td class="border border-gray-700 text-accent"><a href="${json.src}">src</a></td>
      </tr>`
    );
  });
</script>
